Did you mean <a href="https://microbot.iamtpa.xyz/">microbot.iamtpa.xyz</a>?

<script>
  var domain = "https://microbot.iamtpa.xyz/";
  if (window.location.hash)
      window.location = domain + window.location.hash;
  else
      window.location = domain + "#-__________________7OY3d3t7u72d3d7OwuB-d3v_u73f397v7-93B_-______________________________B";
</script>
